@page "/stores"
@using BlazorApp2.Models
@using BlazorApp2.Data
@using Microsoft.EntityFrameworkCore
@inject Labb1DbContext Context;


@code {
    private List<Models.Store> Stores;

    protected override async Task OnInitializedAsync()
    {
        Stores = await Context.Stores
            .Include(store => store.AddressNavigation).ThenInclude(addy=>addy.CityNavigation).ThenInclude(city=>city.CountryNavigation) 
            .ToListAsync();
    }
}

<TransitionWrapper>
<h3>Stores</h3>
    <div class="d-flex flex-row flex-wrap gap-3">
        @if (Stores != null && Stores.Any()) {
            foreach (Models.Store store in Stores)
            {
                <a class="card-button w-25" href="stores/@store.StoreId">
                    <div class="card bg-light m-0 p-0">
                        <div class="card-body">
                            <h5 class="card-title">@store.StoreName</h5>
                            <div class="d-flex flex-column gap-1 mb-2">
                                <h6 class="card-subtitle text-muted">@store.AddressNavigation.Street, @store.AddressNavigation.ZipCode @store.AddressNavigation.CityNavigation.City1</h6>
                                <h6 class="card-subtitle text-muted">@store.AddressNavigation.CityNavigation.CountryNavigation.Country1</h6>
                            </div>
                            <p class="card-text d-flex flex-row align-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 -960 960 960" width="18">
                                    <path d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm200 100q17 0 28.5-11.5T520-180q0-17-11.5-28.5T480-220q-17 0-28.5 11.5T440-180q0 17 11.5 28.5T480-140ZM280-320h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"/>
                                </svg>&nbsp;
                                <span>@store.Phone</span>
                            </p>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</TransitionWrapper>